<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/mvc
   https://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="com.huang.service"/>

<!--    配置用户-->
    <bean id="UserServiceImpl" class="com.huang.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <!--队伍信息-->
    <bean id="TeamServiceImpl" class="com.huang.service.TeamServiceImpl">
        <property name="teamMapper" ref="teamMapper"/>
    </bean>

    <!--配置管理员注入-->
    <bean id="AdminServiceImpl" class="com.huang.service.AdminServiceImpl">
        <property name="adminMapper" ref="adminMapper"/>
    </bean>

    <!--    配置 组队招募 对象注入-->
    <bean id="teamForumServiceImpl" class="com.huang.service.teamForumServiceImpl">
        <property name="teamForumMapper" ref="teamForumMapper"/>
    </bean>

    <!--    配置大赛信息对象注入-->
    <bean id="GameServiceImpl" class="com.huang.service.GameServiceImpl">
        <property name="gameMapper" ref="gameMapper"/>
    </bean>

    <!--    配置大赛信息收藏对象注入-->
    <bean id="FavoritesServiceImpl" class="com.huang.service.FavoritesServiceImpl">
        <property name="favoritesMapper" ref="favoritesMapper"/>
    </bean>

    <!--    消息对象注入-->
    <bean id="MessageServiceImpl" class="com.huang.service.MessageServiceImpl">
        <property name="messageMapper" ref="messageMapper"/>
    </bean>

<!--    配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
<!--        注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--关于拦截器的配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="loginInterceptor" class="com.huang.interceptor.jwtInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
