<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huang.dao.AdminMapper">

    <select id="adminLogin" resultType="admin">
        select * from tb_admin where ad_name=#{name} and ad_pwd=#{password}
    </select>

    <select id="queryAdminId" parameterType="int" resultType="int">
        select COUNT(ad_id)
        from tb_admin
        where ad_id = #{aid}
    </select>

</mapper>