<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.dao.FavoritesMapper">

    <insert id="collect" parameterType="favorites">
        insert into tb_favorites(fa_uid,fa_gid,fa_gtitle,fa_gbody,fa_time) values(#{fa_uid},#{fa_gid},#{fa_gtitle},#{fa_gbody},#{fa_time})
    </insert>

    <!--
    int cancel(Integer fa_id);    //取消收藏
    -->
    <delete id="cancel" parameterType="int">
        delete from tb_favorites where fa_uid=#{fa_uid} and fa_gid = #{fa_gid}
    </delete>

    <!--
    int countcollect(Integer fa_gid);   //收藏次数
    -->
    <select id="countcollect" parameterType="int" resultType="int">
        select COUNT(*) from tb_favorites where fa_gid = #{fa_gid}
    </select>

<!--    判断用户是否收藏了该信息-->
    <select id="judgeCollect" resultType="int" parameterType="int">
        select COUNT(fa_id)
        from tb_favorites
        where fa_gid = #{gid} and fa_uid = #{uid}
    </select>

    <!--
    List<Favorites> mycollect(Integer fa_uid);   //用户收藏夹
    -->
    <select id="mycollect" parameterType="int" resultType="favorites">
        select fa_gid,fa_gtitle,fa_gbody,fa_time from tb_favorites where fa_uid = #{fa_uid}
    </select>

    <!--
    List<Favorites> whocollect(Integer fa_gid);   //都有谁收藏了此比赛
    -->
    <select id="whocollect" parameterType="int" resultType="favorites">
        select * from tb_favorites where fa_uid = #{fa_uid}
    </select>
</mapper>
