<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.dao.GameMapper">


    <sql id="select-game">
        g_id,g_title,g_body,g_sponsor,g_type,g_level,g_link,g_sTime,
        g_eTime,g_signup_sTime,g_signup_eTime,g_image,uid,g_image,g_file
    </sql>
    <insert id="creatGame" parameterType="game">
        insert into tb_game(g_title,g_body,g_sponsor,g_type,g_level,g_link,g_sTime,g_eTime,g_signup_sTime,g_signup_eTime,g_image,uid,g_file)
        values(#{g_title},#{g_body},#{g_sponsor},#{g_type},#{g_level},#{g_link},#{g_sTime},#{g_eTime},
               #{g_signup_sTime},#{g_signup_eTime},#{g_image},#{uid},#{g_file})
    </insert>

    <delete id="deleteGame" parameterType="int">
        delete from tb_game where g_id=#{g_id}
    </delete>

    <update id="updateGame" parameterType="game">
        update tb_game
        set g_title=#{g_title},g_body=#{g_body},g_type=#{g_type},g_link=#{g_link},
            g_sTime=#{g_sTime},g_eTime=#{g_eTime},g_image=#{g_image},g_file=#{g_file}
        where g_id=#{g_id}
    </update>

    <!--    根据g_id比赛信息-->
    <select id="queryGameByGid" parameterType="int" resultType="game">
        select
        <include refid="select-game"/>
        from tb_game
        where g_id=#{g_id}
    </select>

    <!--    根据g_id查询管理员id-->
    <select id="queryAdIdByGid" parameterType="int" resultType="int">
        select uid
        from tb_game
        where g_id=#{g_id}
    </select>

    <select id="queryUidByGid" parameterType="int" resultType="int">
        select uid
        from tb_game
        where g_id = #{g_id}
    </select>

    <select id="showAllGame" resultType="game">
        select
        <include refid="select-game"></include>
        from tb_game
    </select>

    <!--
    List<Game> queryGameByName(@Param("name") String name);
    -->
    <select id="queryGameBySearch" parameterType="string" resultType="game">
        select
        <include refid="select-game"/>
        from tb_game
        where concat(g_title,g_body,g_sponsor,g_type,g_level) like trim(replace(concat('%',#{name},'%'),' ',''))
    </select>

    <!--
    List<Game> queryGameByCondition(GameConditionVo gameConditionVo);
    -->
    <select id="queryGameByCondition" parameterType="com.huang.vo.GameConditionVo" resultType="game">
        select
        <include refid="select-game"/>
        from tb_game
        <where>
            <if test="g_signup_sTime !=null">
                and g_signup_sTime >= #{g_signup_sTime}
            </if>
            <if test="g_signup_eTime !=null">
                and #{g_signup_eTime} >= g_signup_eTime
            </if>
            <if test="g_type !=null and g_type !=''">
                and g_type = #{g_type}
            </if>
            <if test="g_level !=null and g_level !=''">
                and g_level = #{g_level}
            </if>
        </where>
    </select>

    <!--
    //通过uid查询gid，查询用户发布过的比赛
     List<Integer> queryGidByUid(Integer uid);
    -->
    <select id="queryGidByUid" parameterType="int" resultType="int">
        select g_id from tb_game where uid = #{uid}
    </select>

<!--    查询大赛名、主办方以及id-->
    <select id="queryNameAndSponsor" parameterType="string" resultType="game">
        select g_id,g_title,g_sponsor
        from tb_game
        where concat(g_title,g_sponsor) like trim(replace(concat('%',#{keyWords},'%'),' ',''))
    </select>
</mapper>