<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huang.dao.TeamMapper">
    <sql id="select-team">
        tm_name,tm_captain,tm_ctime,tm_demand,tm_count,tm_status,tm_type
    </sql>

    <insert id="addTeam" parameterType="map">
        insert into tb_team (tm_name,tm_captain,tm_ctime,tm_demand,tm_count,tm_type,tm_public)
        values (#{name},#{captain},#{ctime},#{demand},#{count},#{type},#{tPublic})
    </insert>

    <!--    添加队员-->
    <update id="addMember" parameterType="map">
        update tb_members set

        <choose>
            <when test="m_member1==null">
                m_member1=#{memberName},
            </when>
            <when test="m_member2==null">
                m_member1=#{memberName},
            </when>
            <when test="m_member3==null">
                m_member1=#{memberName},
            </when>
            <when test="m_member4==null">
                m_member1=#{memberName},
            </when>
            <when test="m_member5==null">
                m_member1=#{memberName}
            </when>
            <otherwise>

            </otherwise>
        </choose>

        where m_id = #{tid}
    </update>

    <!--    判断申请修改队伍信息人的生份-->
    <select id="judgeIdentity" parameterType="map" resultType="string">
        select tm_captain from tb_team where tm_id = #{id}
    </select>

    <!--    展示队伍信息-->
    <select id="showTeamById" resultType="team">
        select
        <include refid="select-team"></include>
        from tb_team
        where tm_id = #{id}
    </select>

    <update id="updateTeam" parameterType="team">
        UPDATE tb_team
        SET tm_name=#{tm_name},tm_captain=#{tm_captain},tm_demand=#{tm_demand},tm_count=#{tm_count},tm_type=#{tm_type},tm_public=#{tm_public}
        where tm_id=#{tm_id}
    </update>

    <delete id="disbandTeam" parameterType="int">
        DELETE FROM tb_team where tm_id=#{id}
    </delete>



</mapper>